@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Noel Donaldson. Coding Site for <a target="_blank" href="https://azure.microsoft.com/en-us/">Azure</a></h3>

<div class="shadow p-3 mb-5 mt-3 bg-white rounded">
    <p class="lead"><small class="text-muted">More about me as we go along...</small></p>
</div>

<div class="shadow p-3 mb-5 mt-3 bg-white rounded">
    <small class="text-dark">
        <span class="mb-2">while(1 < 0){</span><br /><br />
        <span class="ml-4">this.Coffee();</span><br /><br />
        <span class="ml-4">this.Code();</span><br /><br />
        <span class="ml-4">this.Sleep();</span><br /><br />
        <span class="mt-2">}</span>
    </small>
</div>